# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/
.venv/
venv/
.env
.env.*
*.env

# Node / Frontend
node_modules/
dist/
build/
.vite/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# GitHub workflows caches
*.coverage
.coverage*
